.card-label_container {
  position: absolute;
  bottom: 90px;
  right: 0;
  margin-right: 4px;
}

.card-label_contant {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0dbb;
  color: white;
  font-size: 12px;
  font-family: SST, helvetica, arial, sans-serif;
  font-weight: bold;
  height: 20px;
  padding: 5px;
  border: .2px rgba(255, 255, 255, 0.637) solid;
  border-radius: 3px;
}